# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
.divider{
  margin-top: 80px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
